/*Navigation*/
.nav-box {
	display: flex;
	justify-content: flex-end;
}

.navigation {
	padding: 3px;
	cursor: pointer;
}

/*Home*/
.home {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.circular--square {
  border-radius: 50%;
}

.size {
	width: 320px;
	height: auto;
}

/*Projects*/
.card {
	border-width: 3px;
	border-style: solid;
	padding: 5px
}

.project-logo {
	width: 200px;
	height: 200px;
}

/*Footer*/
.footer {
	background-color: #333;
}

.social-link {
	display: flex;
	flex-direction: row;
}