/*Navigation*/
/*#ececec*/
/*#fcfcfc*/
/*#cfcfcf*/
.nav-box {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	border: none;
	margin: 2px;
	border-bottom-style: solid;
	border-color: #333;
	background-color: #767575
}

.navigation {
	padding: 10px;
	cursor: pointer;
}

/*Home*/
.home {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.circular--square {
  border-radius: 50%;
}

.size {
	width: 320px;
	height: auto;
}

/*Projects*/
.card {
	border-width: 3px;
	border-style: solid;
	padding: 5px
}

.project-logo {
	width: 200px;
	height: 200px;
}

/*Footer*/
footer {
	/*position: absolute;*/
	background-color: #333;
	color: #fff;
}

.social-link {
	display: flex;
	flex-direction: row;
}